#symfony specific
quizz-admin/app/cache/*
quizz-admin/app/logs/*
quizz-admin/app/bootstrap.php.cache
quizz-admin/app/DoctrineMigrations/
quizz-admin/web/bundles/
quizz-admin.bin
quizz-admin/bin/
quizz-admin/vendor/
quizz-admin/web/css/
quizz-admin/web/media/
quizz-admin/web/js/
quizz-admin/web/images/


#configs
quizz-admin/app/config/parameters.yml

# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.DS_Store
.*.swp
*.out

# IDE files to ignore (Netbeans, Eclipse, Phpstorm)
nbproject/private/
.classpath
.buildpath
.project
.settings
.idea


# ignore generated .class files
*.class

# except this file
!.gitignore
