/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace view "de.quizz.view.*";
@namespace util "de.quizz.view.util.*";
@namespace container "de.quizz.view.container.*";
@namespace component "de.quizz.view.component.*";

.errorInfo
{
	skinClass: ClassReference("de.quizz.view.skin.ErrorInfoButtonSkin");
}

/* ValueButton */
component|ValueButton { skinClass: ClassReference("de.quizz.view.skin.ValueButtonSkin"); }

/* FirstView */
container|FirstView { skinClass: ClassReference("de.quizz.view.skin.phone.LoadingSkin"); }

/* LoadingView */
container|LoadingView { skinClass: ClassReference("de.quizz.view.skin.phone.LoadingSkin"); }

/* LoginView */
/*
container|LoginView { skinClass: ClassReference("de.lawell.elvi.view.skin.phone.LoginSkin"); }
view|LoginView.portrait { skinClass: ClassReference("de.lawell.elvi.view.skin.phone.LoginSkin"); }
view|LoginView.landscape { skinClass: ClassReference("de.lawell.elvi.view.skin.phone.landscape.LoginSkin"); }
*/

/* StandbyStartView */
container|StartView { skinClass: ClassReference("de.quizz.view.skin.phone.StartSkin"); }

/* SingleChoiceView */
util|SingleChoiceListView { skinClass: ClassReference("de.quizz.view.skin.phone.SingleChoiceListSkin"); }

/* MultiChoiceView */
util|MultiChoiceListView { skinClass: ClassReference("de.quizz.view.skin.phone.MultiChoiceListSkin"); }


@media(os-platform:"IOS")
{
	s|ActionBar
	{
		defaultButtonAppearance:beveled;
	}
	
	.backButton
	{
		skinClass:ClassReference("spark.skins.mobile.BeveledBackButtonSkin");
	}
}

/* Every os-platform @ 160dpi */
@media (application-dpi: 160)
{
	s|Button
	{
		fontSize: 10;
	}
}

/* IOS only @ 240dpi */
@media (application-dpi: 240) and (os-platform: "IOS")
{
	s|Button
	{
		fontSize: 11;
	}
}

/* IOS at 160dpi or Android @ 160dpi */
@media (os-platform: "IOS") and (application-dpi:160), (os-platform: "ANDROID") and (application-dpi: 160)
{
	s|Button
	{
		fontSize: 13;        
	}
}

/* Every os-platform except Android @ 240dpi */
@media not all and (application-dpi: 240) and (os-platform: "ANDROID")
{
	s|Button
	{
		fontSize: 12;
	}
}    

/* Every os-platform except IOS @ any DPI */
@media not all and (os-platform: "IOS")
{
	s|Button
	{
		fontSize: 14;        
	}
}
